* {
  margin: 0;
  padding: 0;
}
nav {
  color: #fff;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/bg.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.nav-links {
  margin: auto;
  padding-right: 50px;
  background-color: #333;
  display: flex;
  justify-content: right;
  align-items: top;
  position: relative;
}

nav a {
  margin: 10px;
  color: #fff;
  text-decoration: none;
}
